<html>
  <head>
  </head>
  <body>
    <h1>Welcome to the boutique</h1>
    <ul>
      <% for(var i=0; i<stock.length; i++) { %>
        <li>
          <%= stock[i].description %>
        </li>
      <% } %>
    </ul>
  </body>
</html>
